

<body>
    <img src="../assets/ar rahman.jpg">
    <table id="t2">
    <tr>
        <td>
        <div class="song-container" >
        <img src="../assets/vaaji.jpg" alt="Song cover">
        <div class="song-info" id="1">
            <h3>Vaaji Vaaji</h3>
            <span class="play-button" routerLink="/song" (click)="playSong('../assets/Vaaji-Vaaji-En-Sivaji.mp3','../assets/vaaji.jpg')" >
                <i class="fas fa-play"></i>
            </span>
        </div>
    </div>
    </td>
    <td>
        <div class="song-container">
            <img src="../assets/kannukul.jpg" alt="Song cover">
            <div class="song-info" id="2">
                <h3>Kannukul Kannai</h3>
                
                <span class="play-button" routerLink="/song" (click)="playSong('../assets/Kannukkul Kannai.mp3','../assets/kannukul.jpg')" >
                    <i class="fas fa-play"></i>
                </span>
            </div>
        </div>
        </td>
        <td>
            <div class="song-container" >
                <img src="../assets/neetahne.jpg" alt="Song cover">
                <div class="song-info" id="3">
                    <h3>Neethane</h3>
                    
                    <span class="play-button" routerLink="/song" (click)="playSong('../assets/Neethanae-Neethane-MassTamilan.com.mp3','../assets/neetahne.jpg')">
                        <i class="fas fa-play"></i>
                    </span>
                </div>
            </div>
            </td>
    </tr>
    <tr>
        <td>
        <div class="song-container">
            <img src="../assets/kadhal sadugud.jpg" alt="Song cover">
            <div class="song-info" id="4">
                <h3>kadhal sadugudu</h3>
                
                <span class="play-button" routerLink="/song" (click)="playSong('../assets/Kadhal-Sadugudu.mp3','../assets/kadhal sadugud.jpg')">
                    <i class="fas fa-play"></i>
                </span>
            </div>
        </div>
        </td>
        <td>
            <div class="song-container">
                <img src="../assets/sahana.jpg" alt="Song cover">
                <div class="song-info" id="5">
                    <h3>sahaana saaral</h3>
                    
                    <span class="play-button" routerLink="/song" (click)="playSong('../assets/Sahana-Saral-Thoo.mp3','../assets/sahana.jpg')">
                        <i class="fas fa-play"></i>
                    </span>
                </div>
            </div>
            </td>
            <td>
                <div class="song-container">
                    <img src="../assets/munbe va.jpg" alt="Song cover">
                    <div class="song-info" id="6">
                        <h3>Munbe Va</h3>
                        
                        <span class="play-button" routerLink="/song" (click)="playSong('../assets/Munbe-Vaa-En-Vaa.mp3','../assets/munbe va.jpg')">
                            <i class="fas fa-play"></i>
                        </span>
                    </div>
                </div>
                </td>
                
        </tr>
    </table>
</body>