
  <body>
    <div class="logo">
      <img src="../assets/Untitled_design-removebg-preview.png" width="150"/>
    </div>
  <div class="container">
     <!-- Outputs: Tuesday, April 30, 2024 -->


    <h1>Welcome to Melomesh!</h1>

    <br>
    <br>
    <p>Find your Groove with MELOMESH<br>
    Your ultimate music destination where you can discover, stream, and enjoy your favorite tunes.</p>
    <a routerLink="/signup" class="btn">Login / Register</a>
    <div class="footer">
      &copy; 2024 Melomesh. All rights reserved.
    </div>
  </div>
  
</body>

