
<body>
    <img src="../assets/harris.jpg">
    <table id="t2">
    <tr>
        <td>
        <div class="song-container" >
        <img src="../assets/uyirin uyire.jpg" alt="Song cover">
        <div class="song-info" id="1">
            <h3>Uyirin Uyire</h3>
            <span class="play-button" routerLink="/song" (click)="playSong('../assets/Uyerin-Uyere.mp3','../assets/uyirin uyire.jpg')" >
                <i class="fas fa-play"></i>
            </span>
        </div>
    </div>
    </td>
    <td>
        <div class="song-container">
            <img src="../assets/vaseeegara.jpg" alt="Song cover">
            <div class="song-info" id="2">
                <h3>Vaseegara</h3>
                
                <span class="play-button" routerLink="/song" (click)="playSong('../assets/Vaseegara.mp3','../assets/vaseeegara.jpg')" >
                    <i class="fas fa-play"></i>
                </span>
            </div>
        </div>
        </td>
        <td>
            <div class="song-container" >
                <img src="../assets/mudhal kanave.jpg" alt="Song cover">
                <div class="song-info" id="3">
                    <h3>Mudharkanave</h3>
                    
                    <span class="play-button" routerLink="/song" (click)="playSong('../assets/Mudhal-Kanave.mp3','../assets/mudhal kanave.jpg')">
                        <i class="fas fa-play"></i>
                    </span>
                </div>
            </div>
            </td>
    </tr>
    <tr>
        <td>
        <div class="song-container">
            <img src="../assets/adiye kolludhey.jpg" alt="Song cover">
            <div class="song-info" id="4">
                <h3>Adiye kolludhey</h3>
                
                <span class="play-button" routerLink="/song" (click)="playSong('../assets/Adiyae-Kolluthey-MassTamilan.com.mp3','../assets/adiye kolludhey.jpg')">
                    <i class="fas fa-play"></i>
                </span>
            </div>
        </div>
        </td>
        <td>
            <div class="song-container">
                <img src="../assets/engeyum.jpg" alt="Song cover">
                <div class="song-info" id="5">
                    <h3>Nenjil Nenjil</h3>
                    
                    <span class="play-button" routerLink="/song" (click)="playSong('../assets/Nenjil-Nenjil.mp3','../assets/engeyum.jpg')">
                        <i class="fas fa-play"></i>
                    </span>
                </div>
            </div>
            </td>
            <td>
                <div class="song-container">
                    <img src="../assets/unnal.jpg" alt="Song cover">
                    <div class="song-info" id="6">
                        <h3>Unnale Unnale</h3>
                        
                        <span class="play-button" routerLink="/song" (click)="playSong('../assets/Unnaale-Unnaale.mp3','../assets/unnal.jpg')">
                            <i class="fas fa-play"></i>
                        </span>
                    </div>
                </div>
                </td>       
        </tr>
    </table>
</body>