
<body>
    <img src="../assets/vijay antony.jpg" >
    <table id="t2">
    <tr>
        <td>
        <div class="song-container" >
        <img src="../assets/dialamo.jpg" alt="Song cover">
        <div class="song-info" id="1">
            <h3>Dialamo Dialamo</h3>
            <span class="play-button" routerLink="/song" (click)="playSong('../assets/Dailamo-Dailamo.mp3','../assets/dialamo.jpg')" >
                <i class="fas fa-play"></i>
            </span>
        </div>
    </div>
    </td>
    <td>
        <div class="song-container">
            <img src="../assets/usum.jpg" alt="Song cover">
            <div class="song-info" id="2">
                <h3>Ussumularsey</h3>
                
                <span class="play-button" routerLink="/song" (click)="playSong('../assets/Ussumu-Laresay.mp3','../assets/usum.jpg')" >
                    <i class="fas fa-play"></i>
                </span>
            </div>
        </div>
        </td>
        <td>
            <div class="song-container" >
                <img src="../assets/sona puri.jpg" alt="Song cover">
                <div class="song-info" id="3">
                    <h3>Sonna Puriyadhu</h3>
                    
                    <span class="play-button" routerLink="/song" (click)="playSong('../assets/Sonna Puriyathu.mp3','../assets/sona puri.jpg')">
                        <i class="fas fa-play"></i>
                    </span>
                </div>
            </div>
            </td>
    </tr>
    <tr>
        <td>
        <div class="song-container">
            <img src="../assets/thoz.jpg" alt="Song cover">
            <div class="song-info" id="4">
                <h3>Thoziya</h3>
                
                <span class="play-button" routerLink="/song" (click)="playSong('../assets/Thozhiya En Kadhaliya.mp3','../assets/thoz.jpg')">
                    <i class="fas fa-play"></i>
                </span>
            </div>
        </div>
        </td>
        <td>
            <div class="song-container">
                <img src="../assets/nooru.jpg" alt="Song cover">
                <div class="song-info" id="5">
                    <h3>Nooru Samigal</h3>
                    
                    <span class="play-button" routerLink="/song" (click)="playSong('../assets/Nooru-Samigal.mp3','../assets/nooru.jpg')">
                        <i class="fas fa-play"></i>
                    </span>
                </div>
            </div>
            </td>
            <td>
                <div class="song-container">
                    <img src="../assets/ichu ichu.jpg" alt="Song cover">
                    <div class="song-info" id="6">
                        <h3>Ichu Ichu</h3>
                        
                        <span class="play-button" routerLink="/song" (click)="playSong('../assets/Ichu-Ichu-Ichu.mp3','../assets/ichu ichu.jpg')">
                            <i class="fas fa-play"></i>
                        </span>
                    </div>
                </div>
                </td>
                
        </tr>
    </table>
</body>