 <body>
        <div class="section">
            <div class="title">
                <h1><span>P</span>REMIUM <SPAN>F</SPAN>EATURES</h1>
            </div>
            <br>
            <br>
            <p>Unlock Exclusive Features!!<br> Gain access to a treasure trove of premium features that take your experience to the next level.</p>
            <div class="skills">
                <div class="card">
                    <h2>Family pack</h2>
                        <p>Offer ends in May 1st 2024.<br>4 PREMUM ACCOUNTS<br> Grab it soon!!<br>  </p>
                        <a href="/bill" class="button">GET PACK</a>
                </div>
                <div class="card">
                    <h2>Duo pack</h2>
                    <p>Offer ends in May 5th 2024.<br>DOUBLE PREMUM ACCOUNT<br> Grab it soon!!<br>  </p>
                        <a href="" class="button">GET PACK</a>
                </div>
                <div class="card">
                    <h2>Single pack</h2>
                    <p>Offer ends in May 30th 2024.<br>SINGLE PREMUM ACCOUNT<br> Grab it soon!!<br>  </p>
                        <a href="" class="button">GET PACK</a>
                </div>
            </div>
        </div>
    </body>

