
<body>
    <div class="container">
        <h2>Forget Password</h2>
        <form  #form="ngForm" (ngSubmit)="onSubmit(form)" >
            <label for="email">Enter your email:</label>
            <input type="email" id="email" name="email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" ngModel #email="ngModel"  required>
            <span *ngIf="email.invalid && (email.dirty || email.touched)">
                <span *ngIf="email.errors?.['required']">*Required</span>
                <span *ngIf="email.errors?.['pattern']">*Invalid email format</span>
                
            </span>
            <br>
            <label for="newpass">New Password:</label>
            <input type="password" id="newpass" name="newpass" ngModel #newpass="ngModel" required minlength="8">
            <span *ngIf="newpass.invalid && (newpass.dirty || newpass.touched)">
                <span *ngIf="newpass.errors?.['required']">*Required</span>
                <span *ngIf="newpass.errors?.['minlength']">*Minimum 8 characters</span>
            </span>
            <br>
            <label for="confpass">Confirm Password:</label>
            <input type="password" id="confpass" name="confpass" ngModel #confpass="ngModel" required>
            <span *ngIf="confpass.invalid && (confpass.dirty || confpass.touched)">
                *Required.
            </span>
            <input type="submit" ngModel #submit="ngModel" value="Reset Password">
            <div *ngIf="show" class="validate-msg">{{ validateMsg }}</div>
        </form>
    </div>
</body>

